asyncio
platform
ctypes
os-sys
uuid
socket
sqlite3
tempfile
time
sys
webbrowser
shutil
psutil
edge-tts
requests
pywin32
sounddevice
datetime
mss
opencv-python
numpy
scipy
plyer
pillow
python-telegram-bot
pycaw
comtypes
soundfile
